<h3><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Painel de Administração</h3>

<div class="row">
    <div class="list-group col-sm-6 col-md-4 col-md-offset-4">
        <a href="@Url.Content("~/CadastroAdmin/")" class="list-group-item active">
            <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Administradores</h4>
            <p class="list-group-item-text">Cadastro de Usuários Admiministradores do Sistema</p>
        </a>
    </div>
</div>

<div class="row">
    <div class="list-group col-sm-6 col-md-4 col-md-offset-4">
        <a href="@Url.Content("~/CadastroDDD/")" class="list-group-item active">
            <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> DDD</h4>
            <p class="list-group-item-text">Códigos de DDD de Origem e Destino</p>
        </a>
    </div>
</div>

<div class="row">
    <div class="list-group col-sm-6 col-md-4 col-md-offset-4">
        <a href="@Url.Content("~/CadastroPlano/")" class="list-group-item active">
            <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Cadastro de Planos</h4>
            <p class="list-group-item-text">Cadastro de pacotes de planos de serviços</p>
        </a>
    </div>
</div>

<div class="row">
    <div class="list-group col-sm-6 col-md-4 col-md-offset-4">
        <a href="@Url.Content("~/CadastroPreco/")" class="list-group-item active">
            <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Cadastro de Preços</h4>
            <p class="list-group-item-text">Cadastro de Preços por Minutos</p>
        </a>
    </div>
</div>